
header{
	width: 1240px;
	background-color: #435061;
	padding: 50px;
	display: flex;
	flex-direction: row;
	box-sizing: content-box;
	/*position: absolute;*/
}
.head_left{
	display: flex;
	flex-direction: column;
}
h1{
	font-family: Arial;
	color:  #ffffff;
	font-size: 60px;
	font-weight: 400;
	text-align: left;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
	margin: 0;
	display: inline-block;
}
ul{
	list-style-image: url(img/check_icon.png);
	font-family: Arial;
	color: #ffffff;
	font-size: 20px;
	font-weight: 400;
	line-height: 36px;
	text-align: left;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
	display: block;
	width: 450px;
}
.head_right{
	display: flex;
	align-content: center;
	width: 450px;
	height: 214px;
	box-sizing: content-box;
	margin-left:300px; 
}
.logo{
	display: block;
	background-color: white;
	width: 90%;
	height: 214px;
}

/*--------------------------------------------------*/
article{
	display: flex;
}
p{
	font-family: Arial;
	color:  #333333;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
	margin: 50px 0 50px 50px;
}
.about{
	width: 700px;
}
h2{
	font-family: Arial;
	color:  #445161;
	font-size: 30px;
	font-weight: 400;
	line-height: 36px;
	text-align: left;
	margin-left: 50px;
	margin-top:50px;
}
.article_img{
	display: block;
	width: 430px;
	height: 245px;
}
.second_img{
	display: flex;
	align-content: center;
	width: 430px;
	height: 245px;
	box-sizing: content-box;
	margin-left:100px;
	margin-top:50px; 
	background-color: #435060;
}
/*-----------------------------------------------------------------------------------*/
.dignity{
	width: 100%;
	display: flex;
	flex-direction: row;
}
.digimg{
	width: 32px;
	height: 32px;
}
.left_dignity,
.right_dignity{
	width: 600px;
	display: flex;
	flex-direction: column;
}
.furry{
	margin-left:450px;
	font-family: Arial;
	color: #445161;
	font-size: 30px;
	font-weight: 400;
	line-height: 36px;
	text-align: left; 
}
.summ{
	width: 550px;
	height: 63px;
}
.plus{
	background-color:#E5E5E5;
}
details {
     overflow: hidden;
 }
 /*--------------------------------------------------------------------------------*/
 .scrinblock{
 	display: flex;
 }
 figure{
 	width: 600px;
 	margin: 0;
 }
 .scrin_1{
 	display: block;
 	width: 200px;
 	height: 150px;
 	float: left;
 }
 .scrin_left,
 .scrin_right{
 	display: flex;
 	flex-direction: column;
 }
 figcaption{
 	width: 300px;
 	float: right;
 	margin: 20px;
 	font-family: Arial;
	color:  #333333;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
 }
 .discription{
 	font-family: Arial;
	color:  #445161;
	font-size: 24px;
	font-weight: 400;
	line-height: 30px;
	text-align: left;
 }
 .sch{
 	margin-left:550px; 
 }
 /*---------------------------------------------------------------------------------------------------*/
 .rew_content{
 	display: flex;
 	flex-direction: row;
 	width: 100%;
 }
 .circle{
 	width: 75px;
 	height: 75px;
 	border-radius: 50%;
	background-color:  #445161;
 }
 .letter{
 	width: 483px;
 	height: 121px;
 	background-color: #E9E9E9;
 	margin: 10px;
 }
 .back{
 	background-color:#F2F2F2;
 }
 .wiev{
 	margin-left:550px; 
 }
 .ciceron{
 	display: block;
 	margin-top: 20px;
 	font-family: Arial;
 	color:  #989898;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	text-align: left;
 }
 .price{
 	width: 100%;
 	margin: 0 auto;
 	display: flex;
 	justify-content: center;
 }
 .column{
 	width: 300px;
 	background-color: #424F61;
 	margin-right:45px; 
 	border: 1px solid #424F61;
 	border-radius: 5px;
 }
 .standart{
 	height: 306px;
 	align-self: flex-end;

 }
 .premium{
 	height: 404px;
 	align-self: flex-end;
 	
 }
 .lux{
 	height: 499px;
 	
 }
 .price_name{
 	font-family: Arial;
	color:  #ffffff;
	font-size: 24px;
	font-weight: 400;
	line-height: 30px;
	text-align: center;
	height: 35px;
	margin: 0 auto;

 }
 .dollars{
 	font-family: Arial;
 	color:  #445162;
	font-size: 40px;
	font-weight: 400;
	line-height: 30px;
	text-align: center;
	height: 51px;
	background-color: white;
	margin:0 auto;
	padding-top: 30px;
 }
 ol{
 	font-family: Arial;
  	color:  #ffffff;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
	margin-bottom:30px; 
 }
 .bay_botton{
 	display: block;
 	font-family: Arial;
	color:  #445161;
	font-size: 18px;
	font-weight: 700;
	line-height: 18px;
	text-align: center;
	width: 260px;
	height: 30px;
	background-color: white;
	text-decoration: none;
	border-radius: 5px;
	padding-top: 10px;
	margin-left:15px; 
 }
 .contacts{
 	width: 1280px;
	height: 509px;
	background-color: #67727F;
	margin-top:20px; 
 }
 .cont_footer1{
 	width: 1280px;
	height: 450px;
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
 }
 
 input{
 	border-radius: 5px;
	background-color:  #ffffff;
	width: 500px;
	height: 40px;
	margin-bottom:15px; 
 }
 textarea{
 		border-radius: 5px;
		background-color:  #ffffff;
		width: 500px;
		height: 170px;
		margin-bottom:15px; 
 }
 input[type="submit"]{
 		border-radius: 5px;
		background-color:  #ffffff;
		width: 140px;
		height: 40px;
 }
 form{
 	display: flex;
 	flex-direction: column;
 	margin-left:200px;
 	margin-right:30px;  
 }
 .foothead{
 		margin-left:550px;
 		margin-top: 20px;
 		font-family: Arial;
		color:  #ffffff;
		font-size: 30px;
		line-height: 36px;
		align-self: flex-start; 
 }
 .cont_footer{
 	display: flex;
 	flex-direction: row;
 }
 footer{
 	margin-right:550px
 }
